/*background-color: #c23c3c;*/
/*background: #c23c3c;*/
/*background: white;*/
/*background-color: rgb(119, 39, 39)*/
/*color: rgb(85, 26, 26)*/
body {
    animation-name: pp3;
    animation-duration: 3s;
    animation-iteration-count: initial;
    background-color: #c23c3c;
}

@keyframes pp3 {
    from {
        background: #bfbfbf;
    }
    to {
        background-color: #c23c3c;
    }
}

.bod {
    background-color: rgb(119, 39, 39);
    border-radius: 20px;
    padding-top: 20px;
}

img {
    border-radius: 20px;
    margin-left: 20%;
    width: 60%;
    margin-right: 20%;
    margin-bottom: 0;
}

.contImg1 {

}
.img1 {

}

.header2 {
    animation-name: pp2, pp1;
    animation-duration: 3s;
    animation-iteration-count: initial;
    background-color: #bfbfbf;
    border-radius: 20%;
    margin-left: 25%;
    margin-right: 25%;
}

@keyframes pp2 {
    from {

        background: #6d91cd;
    }
    to {

        background: #bfbfbf;
    }
}

@keyframes pp1 {
    from {
        opacity: 0;
        border-radius: 100%;
    }
    to{
        opacity: 1;
        border-radius: 20%;
    }
}

h1 {
    margin-top: 20px ;
    margin-left: 35px;
    color: rgb(85, 26, 26)
}

button {
    display: block;
    animation-name: pp3, pp1;
    animation-duration: 3s;
    animation-iteration-count: initial;
    margin: 10px auto;
    border-radius: 20%;
    background-color: #c23c3c;
    /*border: none;*/
    /*color: white;*/
    padding: 15px 32px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 16px;*/
}
